@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vários Doces Deliciosos e Saborosos para voce!</h1
    <div>
        <img class="imagem-inicio" src="~/img/fundohome.jpg" />
    </div>
    <div class="frase">
        <h5>Voce escolhe como será feito o seu doce...!</h5>
    </div>
</div>
